body {
    display: flex;
    justify-content: center;
    background-color: #f5f8f8;
}


.container{
    display: flex;
    height: 60px;
    width: 90px;
    font-size: 15px;
}


.button {
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #button1 {background-color: #ff0808;} /* red */
  #button2 {background-color: #00ba28;} /* green */
  #button3 {background-color: #faf606;} /* Yellow */
  #button4 {background-color: #7a0afa;} /* blue */
  #button5 {background-color: #f30588;} /* pink */